
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #f4f4f4;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 67%; 
    height: 100%;
    background: url("/public/images/Nec College.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-left: 480px; 
}

.login-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 150px 80px; 
    width: 480px; 
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-left:120px;
}

.header-content {
    text-align: center;
    margin-bottom: 3px;
    position: relative;
    top: -40px; 
}

.header-content .logo {
    width: 80px;
    margin-bottom: 10px;
}

.header-content h1 {
    font-size: 24px; 
    font-weight: bold;
    color: #00124D;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 14px; 
    color: #555;
    line-height: 1.8; 
    white-space: nowrap; 
}

h2 {
    color: #00124D;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
}

input {
    width: 90%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

input:focus {
    border-color: #00124D;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 18, 77, 0.5);
}

.login-button {
    background: linear-gradient(135deg, #00124D, #00317D);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.login-button:hover {
    background: linear-gradient(135deg, #00317D, #0054D2);
    transform: scale(1.05);
}

.captcha input {
    width: calc(50% - 10px);
}

.forgot-password {
    margin-top: 15px;
    color: #00124D;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.forgot-password:hover {
    color: #00317D;
}

@media (max-width: 768px) {
    .login-box {
        width: 90%;
        padding: 20px 30px;
    }

    .header-content h1 {
        font-size: 20px;
    }

    .header-content p {
        font-size: 12px;
        white-space: normal; 
    }

    input {
        width: 100%;
    }
}
