.driver-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.driver-form {
    background: #ffffff;
    padding: 35px;
    width: 900px;
    max-width: 1000px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    text-align: center;
}

.driver-title {
    color: #0047AB;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #0047AB;
}

.driver-form-row {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 12px;
}

.driver-form-group {
    flex: 1;
    text-align: left;
}

.driver-form-group label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
    font-size: 14px;
}

.driver-form-group input {
    width: 90%;
    max-width: 500px;
    padding: 14px; 
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.05);
    color: #333;
    transition: all 0.3s ease-in-out;
}

.driver-form-group input:focus {
    border-color: #0047AB;
    outline: none;
    box-shadow: 0px 0px 6px rgba(0, 71, 171, 0.8);
}

.driver-form-group input[type="file"] {
    padding: 5px;
    width: 100%;
}

.driver-submit-button {
    background: linear-gradient(to right, #0057B8, #00C1D4);
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.driver-submit-button:hover {
    background: linear-gradient(135deg, #2A6BCC, #5A8DEE);
    transform: scale(1.03);
}
